<!-- Slider main container -->
<div class="swiper animate__animated animate__fadeIn animate__faster">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div
      class="swiper-slide"
      *ngFor="let m of movies"
      [ngStyle]="{
        'background-image':
          'url(https://image.tmdb.org/t/p/w500/' + m.backdrop_path + ')'
      }"
    >
      <div class="movie-description">
        <h3>{{ m.title }}</h3>
        <p>{{ m.overview | slice : 0 : 130 }}...</p>
      </div>
    </div>
  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
