.swiper{
  height: 330px;
  width: 100%;
}

.swiper-button-prev, .swiper-button-next{
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
  opacity: 1;
}

.movie-description{
  background-color: rgba(0,0,0,0.3);
  bottom: 0;
  padding: 5px 30px;
  position: absolute;
  width: 100%;
}

.swiper-slide{
  background-size: cover;
}