
<app-loading *ngIf="loading"></app-loading>
<div class="row mt-5 mb-5 animate__animated animate__fadeIn animate__faster" *ngIf="!loading && pelicula">
  <div class="col-md-6">
    <img [src]="pelicula.poster_path| poster" alt={{pelicula.title}} class="img-thumbnail"/>
  </div>
  <div class="col-md-6">
    <h3>
      {{pelicula.title}}
    </h3>
    <div class="row">
      <div class="col">
        <star-rating
        [readOnly]="true"
          [starType]="'svg'"
          [numOfStars]="5"
          [showHalfStars]="true"
          [rating]="pelicula.vote_average / 2"
        ></star-rating>
      </div>
      <div class="col text-white">
        {{pelicula.vote_average | number: "1.0-2"}}
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <p>
          {{pelicula.overview}}
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <button class="btn btn-outline-info" (click)="onRegresar()">Regresar</button>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5 animate__animated animate__fadeIn animate__faster" *ngIf="cast.length > 0">
  <h1 class="mb-5">Casting</h1>
  <div class="col">
    <app-cast-slideshiw [cast]="cast"></app-cast-slideshiw>
  </div>
</div>
